# Simulated temperature sensor module/pod
apiVersion: apps/v1
kind: Deployment
metadata:
  name: simulated-temperature-sensor-deployment
  labels:
    app: simulated-temperature-sensor-module
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simulated-temperature-sensor-module
  template:
    metadata:
      labels:
        app: simulated-temperature-sensor-module
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: "simulated-temperature-sensor-module"        
    spec:
      containers:
      - name: simulated-temperature-sensor-module
        image: suneetnangia/distributed-az-iot-edge-simulatedtemperaturesensormodule:main-35d9822b05479e3934b27761a440b69eff12953e
        args: ["-i", "{{ .Values.simulatedTemperatureSensorFeedIntervalInMilliseconds }}"]
      restartPolicy: Always
