name: Main Branch CI
on: 
  push:
    branches: 
      - main
    paths-ignore:
      - 'deployment/**'
jobs:
  Build-Code:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore iotedge/Distributed.IoT.Edge
    - name: Build
      run: dotnet build iotedge/Distributed.IoT.Edge --no-restore
    - name: Test
      run: dotnet test iotedge/Distributed.IoT.Edge --no-build --verbosity normal
    - name: Login to DockerHub Registry
      run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
    - name: Get the version
      id: vars
      run: echo ::set-output name=tag::$(echo main-${GITHUB_SHA})
    - name: Echo Docker images tag
      run: echo ${{steps.vars.outputs.tag}}
      
    - name: Build the tagged Docker image for Data Gateway module.
      run: docker build iotedge/Distributed.IoT.Edge/. --file iotedge/Distributed.IoT.Edge/Distributed.IoT.Edge.DataGatewayModule/Dockerfile --tag Azure-Samples/distributed-az-iot-edge-datagatewaymodule:${{steps.vars.outputs.tag}}
    - name: Push the tagged Docker image for Data Gateway module.
      run: docker push Azure-Samples/distributed-az-iot-edge-datagatewaymodule:${{steps.vars.outputs.tag}}

    - name: Build the latest Docker image for Data Gateway module.
      run: docker build iotedge/Distributed.IoT.Edge/. --file iotedge/Distributed.IoT.Edge/Distributed.IoT.Edge.DataGatewayModule/Dockerfile --tag Azure-Samples/distributed-az-iot-edge-datagatewaymodule:main-ci-latest
    - name: Push the latest Docker image for Data Gateway module.
      run: docker push Azure-Samples/distributed-az-iot-edge-datagatewaymodule:main-ci-latest
      
    - name: Build the tagged Docker image for Simulated Temperature Sensor module.
      run: docker build iotedge/Distributed.IoT.Edge/. --file iotedge/Distributed.IoT.Edge/Distributed.IoT.Edge.SimulatedTemperatureSensorModule/Dockerfile --tag Azure-Samples/distributed-az-iot-edge-simulatedtemperaturesensormodule:${{steps.vars.outputs.tag}}
    - name: Push the tagged Docker image for Simulated Temperature Sensor module.
      run: docker push Azure-Samples/distributed-az-iot-edge-simulatedtemperaturesensormodule:${{steps.vars.outputs.tag}}

    - name: Build the latest Docker image for Simulated Temperature Sensor module.
      run: docker build iotedge/Distributed.IoT.Edge/. --file iotedge/Distributed.IoT.Edge/Distributed.IoT.Edge.SimulatedTemperatureSensorModule/Dockerfile --tag Azure-Samples/distributed-az-iot-edge-simulatedtemperaturesensormodule:main-ci-latest
    - name: Push the latest Docker image for Simulated Temperature Sensor module.
      run: docker push Azure-Samples/distributed-az-iot-edge-simulatedtemperaturesensormodule:main-ci-latest